
input:focus, select:focus, textarea:focus{
	outline: none;
}


.webim-box{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.webim-flex{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

/** window */
html, body, .webim, .webim-window {
	overflow: hidden;
	margin:0;
	padding:0;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.webim{
	font-family: Helvetica,Arial,sans-serif;
}

.webim-window{
	padding: 10px 20px 30px;
}

.webim-window-window {
	height: 100%;
	position: relative;
	/*-moz-box-shadow:0 20px 40px rgba(0, 0, 0, 0.4);*/
	-moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.4);
}

.webim-window .webim-window-header {
	/*cursor: pointer;*/
	font-weight: normal;
	padding: .2em .5em;
}

.webim-window-header .webim-window-actions {
	float: right;
}

.webim-window-header .webim-window-actions a {
	float:left;
	background: none;
	border: none;
	margin: 0 .1em;
}

.webim-window-header h4 {
	margin: 0;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
}
.webim-window-header *{
	-webkit-user-select: none;
	-moz-user-select: none;
}

.webim-window .webim-window-resize {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 1px;
}

.webim-widgets {
}

.webim-window .webim-shortcut{
	min-height: 1.8em;
	border-width: 0;
	border-top-width: 1px;
}

/** Borwser test*/
.webim-browser.webim-layout-window{
	width: 240px;
	height: 500px;
	position: absolute;
	right: 0;
	top: 0;
}

.webim-browser.webim-chat-window{
	width: 480px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
}

.webim-window .webim-window-content {
	border-top-width: 0px;
}

